<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrF037Gh6NHtehrxU1QGGTh6MdDIKFIOM</string>
	<key>GCM_SENDER_ID</key>
	<string>649029287658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teleprompterx.mattdoug</string>
	<key>PROJECT_ID</key>
	<string>teleprompter-x</string>
	<key>STORAGE_BUCKET</key>
	<string>teleprompter-x.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649029287658:ios:74fc64a7c5d583a758e193</string>
</dict>
</plist>